<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <title>@Exam | Copyright Inhanbyeol</title>

    <style>

        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .war {
            color: #E97777;
        }

        .warp {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .warp > .card {
            margin-bottom: 10px;
            max-width: 800px;
            width: 95%;
            box-shadow: 0px 0px 5px 0px lightblue;
        }

        .input-group {
            margin-bottom: 10px;
        }

        #exam_main > .card {
            max-width: 800px;
            width: 95%;
            box-shadow: 0px 0px 5px 0px lightblue;
            margin-bottom: 20px;
        }

        #exam_main {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    </style>
    <script>
        let exam_count = 1;

        $(document).ready(function () {
            exam_list();
        })

        function exam_list() {
            $.ajax({
                type: "GET",
                url: "/exam_list_management/exam_list",
                data: {},
                success: function (response) {
                    console.log(response["exam_list"])

                    for (i = 0; i < response["exam_list"].length; i++) {

                        let no = response["exam_list"][i]['no']
                        let exam_name = response["exam_list"][i]['exam_name']

                        $("#examlist").append(`<option value="${no}">${exam_name}</option>`)

                    }
                }
            });
        }

        function exam_data() {
            $.ajax({
                type: "POST",
                url: "/exam_list_management/exam_data",
                data: {exam_no: $('#examlist').val()},
                success: function (response) {

                    let rows = response["exam_datax"]


                    for (i = 0; i < rows.length; i++) {

                        let exam_data_no = rows[i]['exam_data_no']


                        $("#exam_main").append(`<div class="card" id="exam_id${exam_count}">
                    <div class="card-header">
                        ${exam_count}번 문제
                        <div style="float: right;">
                            <a class="war" href="#" onclick="cdex(${exam_count})">삭제</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">문제</span>
                            <input type="text" class="form-control" id="exam_data_quest${exam_count}" placeholder="다음 중 이 문제의 제목을 입력해주세요.">
                        </div>

                        <div class="input-group">
                            <span class="input-group-text">설명</span>
                            <textarea class="form-control" id="exam_data_desc${exam_count}" placeholder="이 문제의 설명은 필수적이지 않으며, 사용을 희망할 경우에만 적습니다."></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">1</span>
                            <input type="text" class="form-control" id="exam_data_1_${exam_count}" >
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}" type="radio" value="aw1"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">2</span>
                            <input type="text" class="form-control" id="exam_data_2_${exam_count}" >
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}" type="radio" value="aw2"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">3</span>
                            <input type="text" class="form-control" id="exam_data_3_${exam_count}" >
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}" type="radio" value="aw3"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">4</span>
                            <input type="text" class="form-control" id="exam_data_4_${exam_count}" >
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}" type="radio" value="aw4"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">5</span>
                            <input type="text" class="form-control" id="exam_data_5_${exam_count}" >
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}"  type="radio" value="aw5"></span>
                        </div>
                    </div>
                </div>`);


                        let exam_data_quest = (rows[i]['exam_data_quest'] !== 'null') ? rows[i]['exam_data_quest'] : ''
                        let exam_data_desc = (rows[i]['exam_data_desc'] !== 'null') ? rows[i]['exam_data_desc'] : ''
                        let exam_data_1 = (rows[i]['exam_data_1'] !== 'null') ? rows[i]['exam_data_1'] : ''
                        let exam_data_2 = (rows[i]['exam_data_2'] !== 'null') ? rows[i]['exam_data_2'] : ''
                        let exam_data_3 = (rows[i]['exam_data_3'] !== 'null') ? rows[i]['exam_data_3'] : ''
                        let exam_data_4 = (rows[i]['exam_data_4'] !== 'null') ? rows[i]['exam_data_4'] : ''
                        let exam_data_5 = (rows[i]['exam_data_5'] !== 'null') ? rows[i]['exam_data_5'] : ''
                        let exam_data_answer = rows[i]['exam_data_answer']

                        $(`#exam_data_quest${exam_data_no}`).val(exam_data_quest)
                        $(`#exam_data_desc${exam_data_no}`).val(exam_data_desc)
                        $(`#exam_data_1_${exam_data_no}`).val(exam_data_1)
                        $(`#exam_data_2_${exam_data_no}`).val(exam_data_2)
                        $(`#exam_data_3_${exam_data_no}`).val(exam_data_3)
                        $(`#exam_data_4_${exam_data_no}`).val(exam_data_4)
                        $(`#exam_data_5_${exam_data_no}`).val(exam_data_5)
                        $(`input:radio[name ='a${exam_data_no}']:input[value='${exam_data_answer}']`).attr("checked", true);

                        exam_count++
                    }

                }
            });
        }

        function save_exam() {

            for (i = 1; i < exam_count; i++) {

                let no_exam = $('#examlist').val();
                let exam_data_no = i;
                let exam_data_quest = ($(`#exam_data_quest${i}`).val() !== '') ? $(`#exam_data_quest${i}`).val() : "null";
                let exam_data_desc = ($(`#exam_data_desc${i}`).val() !== '') ? $(`#exam_data_desc${i}`).val() : "null";
                let exam_data_1 = ($(`#exam_data_1_${i}`).val() !== '') ? $(`#exam_data_1_${i}`).val() : "null";
                let exam_data_2 = ($(`#exam_data_2_${i}`).val() !== '') ? $(`#exam_data_2_${i}`).val() : "null";
                let exam_data_3 = ($(`#exam_data_3_${i}`).val() !== '') ? $(`#exam_data_3_${i}`).val() : "null";
                let exam_data_4 = ($(`#exam_data_4_${i}`).val() !== '') ? $(`#exam_data_4_${i}`).val() : "null";
                let exam_data_5 = ($(`#exam_data_5_${i}`).val() !== '') ? $(`#exam_data_5_${i}`).val() : "null";
                let exam_data_answer = ($(`input[name='a${i}']:checked`).val() !== '') ? $(`input[name='a${i}']:checked`).val() : "null";

                console.log(exam_data_answer)

                $.ajax({
                    type: "POST",
                    url: "/exam_list_management/save",
                    data: {
                        exam_no: no_exam,
                        exam_data_no: exam_data_no,
                        exam_data_quest: exam_data_quest,
                        exam_data_desc: exam_data_desc,
                        exam_data_1: exam_data_1,
                        exam_data_2: exam_data_2,
                        exam_data_3: exam_data_3,
                        exam_data_4: exam_data_4,
                        exam_data_5: exam_data_5,
                        exam_data_answer: exam_data_answer
                    },
                    success: function (response) {
                        console.log(response["msg"])
                    }
                });
            }

        }

        function cdex(num) {
            let no_exam = $('#examlist').val();
            let exam_data_no = num;

            let check = confirm("정말로 삭제하시겠습니까?")
            if (check) {
                $.ajax({
                    type: "POST",
                    url: "/exam_list_management/del",
                    data: {
                        exam_no: no_exam,
                        exam_data_no: exam_data_no,
                    },
                    success: function (response) {
                        console.log(response["msg"])
                        exam_count--
                        $(`#exam_id${num}`).remove();
                    }
                });
            }
        }

        function add_exam_data() {
            if ($("#examlist").val() == null) {
                alert('시험을 먼저 선택해주세요.')
            } else {
                $("#exam_main").append(`<div class="card" id="exam_id${exam_count}">
                    <div class="card-header">
                        ${exam_count}번 문제
                        <div style="float: right;">
                            <a class="war" onclick="cdex(${exam_count})">삭제</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">문제</span>
                            <input type="text" class="form-control" id="exam_data_quest${exam_count}" placeholder="다음 중 이 문제의 제목을 입력해주세요.">
                        </div>

                        <div class="input-group">
                            <span class="input-group-text">설명</span>
                            <textarea class="form-control" id="exam_data_desc${exam_count}" placeholder="이 문제의 설명은 필수적이지 않으며, 사용을 희망할 경우에만 적습니다."></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">1</span>
                            <input type="text" class="form-control" id="exam_data_1_${exam_count}" placeholder="이게 정답일 것 같다.">
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}" type="radio" value="aw1"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">2</span>
                            <input type="text" class="form-control" id="exam_data_2_${exam_count}" placeholder="이게 정답일 것 같다.">
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}" type="radio" value="aw2"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">3</span>
                            <input type="text" class="form-control" id="exam_data_3_${exam_count}" placeholder="이게 정답일 것 같다.">
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}" type="radio" value="aw3"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">4</span>
                            <input type="text" class="form-control" id="exam_data_4_${exam_count}" placeholder="이게 정답일 것 같다.">
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}" type="radio" value="aw4"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">5</span>
                            <input type="text" class="form-control" id="exam_data_5_${exam_count}" placeholder="이게 정답일 것 같다.">
                            <span class="input-group-text"><input class="form-check-input mt-0" name="a${exam_count}"  type="radio" value="aw5"></span>
                        </div>
                    </div>
                </div>`);

                exam_count++;
            }
        }
    </script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="./"><b><i class="fa-solid fa-check-to-slot"></i> Exam</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./exam_list_create">Create</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./exam_list_management">Management</a>
                </li>
            </ul>
            <div class="d-flex">
                <button onclick="add_exam_data()" class="btn btn-secondary">문제 추가</button>&nbsp;
                <button onclick="save_exam()" class="btn btn-primary">저장</button>
            </div>
        </div>
    </div>
</nav>


<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>관리자 인증 번호</strong>는 관리자분들께만 공유해드리고 있으며, 그 외 타인에게는 배포 금지입니다.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="warp">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">시험 설정</h5>

            <p class="card-text war">설정 도중 다른 시험으로 변경 할 경우 기존에 변경한 데이터는 저장되지 않습니다.</p>
            <div class="input-group mb-3">
                <label class="input-group-text" for="examlist">시험 선택</label>
                <select class="form-select" id="examlist">
                    <option selected disabled>-</option>
                </select>
            </div>
        </div>
    </div>
    <div id="exam_main">

    </div>
</div>
</body>

</html>

<script>
    $("#examlist").change(function () {
        let check = confirm("설정할 시험을 변경하시겠습니까?")
        if (check) {
            exam_count = 1; //reset
            exam_data()
        } else {

        }
    })
</script>